body {
    background-color: #5b5b5b;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    color: #333;
}

button:focus {
    outline: none;

}

button:hover {
    background-color: #000000;
}

header {
    text-align: center;
}